/*±¾Ä£°åÊÇÓÉ±ê×¼Ö®Â·(www.aa25.cn)µÄ¡Á¡Á¡ÁÖÆ×÷Íê³É*/
/*±¾ÈËË®Æ½ÓÐÏÞ£¬Ê¹ÓÃ×ÔÔ¸£¬²»¶ÔÒòÊ¹ÓÃ´ËÄ£°åÔì³ÉµÄÈÎºÎºó¹û¸ºÈÎºÎÔðÈÎ*/
/*Èç¹ûÄúÏë×ªÔØ´Ë×ÊÔ´£¬Çë±£Áô¡°<a href="http://www.aa25.cn">±ê×¼Ö®Â·www.aa25.cn</a>¡±µÄÁ´½Ó¼°°æÈ¨±êÊ¶*/
/*ÈçÓÐ¸üºÃµÄ½¨Òé»òÒâ¼û£¬Çëµ½www.aa25.cnÁôÑÔ£¬±¾ÈË¾¡Á¦½â¾ö*/
/*2008-8-28*/
body { font-family:Verdana; font-size:14px; margin:0;}

#container {margin:0 auto; width:100%;}
#header { height:80px; background:#9c6;background:url(../images/headerRight_back.png) repeat; }
#header #headerleft{float:left; width:417px;height:80px;background:url(../images/headerLeft_back.png) no-repeat;}
#header #headright{ float:right; width:404px; height:90%;}
#header #searchbox{ float:right;height:35px;padding:7px 5px 5px 5px;margin-top:25px;margin-right:30px;}
#header #searchbox #txtSearch{ height:20px;}
#header #searchbox #optionSearch{ height:24px;margin-left:4px;margin-right:4px;color:green;}
#header #searchbox #search_submit{ background:#2276AF; font-size:15px; font-weight:bold;text-shadow:1px 1px 1px #2276AF;color:white;text-align:center;padding: 2px 5px 5px 5px;}
#header #utility {float:right;margin-right:35px;margin-top:3px;}

#menu { width:100%;height:35px; background:url(../images/menu_back.png); margin-bottom:5px; overflow:hidden; }
#menu ul {list-style:none; height:35px;line-height:35px;padding:0 8px 1px;border-radius:30px;box-shadow:0 1px 3px rgba(0;0,0,0,4);}
#menu ul li{display:inline-block;margin:0.5px;}
#menu ul li a{ color:#fff; font-weight:bold;font-family:Arial, Helvetica, sans-serif;font-size:17px;padding:5px 15px;text-decoration:none;text-shadow:0 1px 1px rgba(0,0,0,0.3);}
#menu ul li a#curr, #menu ul li a:hover{ border-radius:20px;background-color:#666;box-shadow:0 1px 1px rgba(0,0,0,0.2);border-top:1px solid #f8f8f8;}
#menu #menu_cat{float:left;}
#menu #menu_action{float:right;}
#menu #menu_action li a{float:right;font-size:13px;}

#mainContent {margin-bottom:5px;width:100%;}
#mainContent .border{width:100%;height:10px;background:url(../images/border.gif);}
#mainContent #status{height:23px;width:95%;position:relative;padding:0 20px;top:2px;}
#mainContent #status a{font-size:15px;}
#mainContent #status span{font-size:15px;}
#mainContent #content {position:relative;}

/*左侧栏*/
#sidebarLeft { float:left; width:15%;background:#fff;}
#sidebarLeft span{ float:right; margin-right:10px;}

/*中间内容*/
#content { float:left; width:60%; background:#ffa; background:white;}
#content #content2{padding: 5px 25px 5px 15px;border-left-color: #DDDDDD;border-left-style: groove;border-left-width: 5px;border-right-color: #DDDDDD;border-right-style:double;border-right-width: 5px;}
#content #content2 #edit_mess{margin-top:50px;margin-left:50px;height:200px;}

/*右侧栏*/
#sidebarRight {float:left; width:25%;background:#fff;}
/*原来width=260px*/
#sidebarRight #sideRightContent{float:left;width:78%;margin-top: 40px ;margin-bottom:5px ;margin-left:15px;border-style: dotted; border-width: 1px;padding:5px 10px 5px 10px;}
.clearfloat {clear:both}

/*编辑内容*/
#editContent { float:left; width:75%; background:#ffa; background:white;}
#editContent #content2{padding: 5px 15px 5px 15px;border-left-color: #DDDDDD;border-left-style: groove;border-left-width: 5px;border-right-color: #DDDDDD;border-right-style:groove;border-right-width: 5px;}
#editContent #content2 #edit_mess{margin-top:50px;margin-left:50px;height:200px;}

/*底端*/
#footer { height:45px; background:url(../images/menu_back.png);}

/*编辑文章的表格*/
#article {width:80%;}
#article .lab_title {width:80px;}
#article #atitle input{width:90%;}
#article #adate #year{width:60px;}
#article #adate #month{width:40px;}
#article #adate #day{width:40px;}

#author {width:80%;}
#author .lab_a{width:80px;}
#author .lab_n{width:40px;}
#author .input_n .authorn{width:80%;}
#author .lab_m{width:40px;}
#author .input_m .authorm{width:80%;}

#key {width:80%;}
#key .tag_k{width:80px;}
#key .input_k{width:300px;}
#key .input_k input{width:250px;}

#abstract {width:100%;}
#abstract #tag_a{width:80px;}

#chapter {width:100%;}
#chapter .ctitle input{width:70%;}
#chapter .ctitle #chapter_t{width:80px;}
#chapter .ctitle #chapter_c{width:80px;}

#edit_button input{margin-right:10px;}

/*关键字*/

#keyWords {float:left;width:100%;}
.clearfloat {clear:both}
#keyWords ul li{list-style-type:none; float:left; margin:2px 3px 2px 2px;}
#keyWordsTable { float:left;margin-top:5px;}
