/*±¾Ä£°åÊÇÓÉ±ê×¼Ö®Â·(www.aa25.cn)µÄ¡Á¡Á¡ÁÖÆ×÷Íê³É*/
/*±¾ÈËË®Æ½ÓÐÏÞ£¬Ê¹ÓÃ×ÔÔ¸£¬²»¶ÔÒòÊ¹ÓÃ´ËÄ£°åÔì³ÉµÄÈÎºÎºó¹û¸ºÈÎºÎÔðÈÎ*/
/*Èç¹ûÄúÏë×ªÔØ´Ë×ÊÔ´£¬Çë±£Áô¡°<a href="http://www.aa25.cn">±ê×¼Ö®Â·www.aa25.cn</a>¡±µÄÁ´½Ó¼°°æÈ¨±êÊ¶*/
/*ÈçÓÐ¸üºÃµÄ½¨Òé»òÒâ¼û£¬Çëµ½www.aa25.cnÁôÑÔ£¬±¾ÈË¾¡Á¦½â¾ö*/
/*2008-8-28*/
body { font-family:Verdana; font-size:14px; margin:0;}

#container {margin:0 auto; width:100%;}
#header { height:80px; background:#9c6;}
#header #searchbox{ float:right; width:25%;height:35px;padding:7px 5px 5px 5px;}
#header #searchbox #txtSearch{ height:20px;}
#header #searchbox #optionSearch{ height:22px;margin-left:4px;margin-right:4px;color:green;}
#header #searchbox #search_submit{ background:#2276AF; font-size:15px; font-weight:bold;text-shadow:1px 1px 1px #2276AF;color:white;text-align:center;padding: 2px 5px 5px 5px;}
#menu { height:35px; background:url(../images/menu_back.png); margin-bottom:5px; overflow:hidden; padding:0 0 0 20px;}
#menu ul {list-style:none; height:35px;line-height:35px;padding:0 8px 1px;border-radius:30px;box-shadow:0 1px 3px rgba(0;0,0,0,4);}
#menu ul li{display:inline-block;margin:0.5px;}
#menu ul li a{ color:#fff; font-weight:bold;font-family:Arial, Helvetica, sans-serif;font-size:12px;padding:5px 15px;text-decoration:none;text-shadow:0 1px 1px rgba(0,0,0,0.3);}
#menu ul li a#curr, #menu ul li a:hover{ border-radius:20px;background-color:#666;box-shadow:0 1px 1px rgba(0,0,0,0.2);border-top:1px solid #f8f8f8;}
#mainContent {margin-bottom:5px;}
#sidebar { float:left; width:200px;background:#fff;}
#content { margin-left:205px !important; margin-left:202px; height:auto !important; height:100px; background:#ffa;}/*µ±contentÉè¶¨¸ß¶Èºó£¬3ÏñËØ»áÅÜµ½contentÍâ²à£¬ÕâÑù£¬ÎÒÃÇÓÃ!importantÐÞÕýÔÚieÏÂÏò×ó¶à¸¡¶¯2ÏñËØ£¬¼ÓÉÏ3ÏñËØµÄbugÕýºÃÊÇ5ÏñËØ£¬ËùÒÔÔÚ»ðºüºÍIEÏÂÏÔÊ¾ÊÇÒ»ÑùµÄ*/
#footer { height:35px; background:url(../images/menu_back.png);}
.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px;}
